---
layout: page
title: Publication Details
image:
feature:
comments: 
header: no
share: true
---
 
<html>

<style>
div.pdfimg{
 float: right;
 border: 1px solid #BFBFBF;
 box-shadow: 2px 2px 3px #aaaaaa;
 margin: 10px;
}
</style>

<div>
<article role="article">

<h3><center>{{ page.entry.title }}</center></h3>
<h4>{{ page.entry.author }}</h4>
<h4><a href="http://dx.doi.org/{{ page.entry.doi }}">doi: {{ page.entry.doi }}</a></h4>
<hr>

<div class="pdfimg">
 <a href="http://dx.doi.org/{{ page.entry.doi }}"><!--<a href="/pdf/{{ page.entry.key }}.pdf">-->
   <img src="/pdf/{{ page.entry.key }}.png" width="300">
 </a>
</div>

{{ page.entry.abstract }}

<div style="clear:both"></div>

<hr>
<pre>
 {% highlight tex %}
 {{ page.entry.bibtex }}
 {% endhighlight %}
</pre>


</html>
